API_KEY=your-secret-key
VLLM_URL=http://sinerjicuda02:8010/v1
MODEL_NAME=Qwen/Qwen3-VL-8B-Thinking
JIRA_SERVER=https://jira.sbm.org.tr
JIRA_EMAIL=chatbot
JIRA_TOKEN=RoMa3*6PorTakaL*?
CONFLUENCE_SERVER=https://confluence.sbm.org.tr
CONFLUENCE_EMAIL=chatbot
CONFLUENCE_TOKEN=confluence_tokenin
